@media (max-width: 977px) {
    .single-box {
    height: 419px;
    }

}

@media (max-width: 977px) {
    .single-box {
    height: 419px;
    }

}
@media (max-width: 767px) {
    .single-box {
    height: 100%;
    }

}

